body {
  margin: 0;
}

.surfer-zone {
  position: absolute;
  width: 100%;
bottom: 0;
display: flex;
justify-content: center;
}

.surfer {
  height: 100px;
  width: 60px ;
  background-color: darkblue;
transition: all 0.5s;
}

.sea {
  height: 100vh;
  background-color: rgb(5, 147, 202);
}